<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.KJO.mapper.MyPageMapper">
	<!-- 페이지 기본정보 로드 -->
	<select id="UserInfoGet" resultType="com.KJO.model.UserVO">
		select userNum, userId, userName, userEmail, pwSearchQuestion, pwSearchAnswer, userRegDate, lastLoginDate, authority, profileImg 
		from UserInfo where userNum=#{userNum};
	</select>

	<!-- 페이지 보기 -->
	<select id="FreeBoardList" resultType="com.KJO.model.FreeBoardVO">
		select @bnum:=boardNum as boardNum, boardCategory, boardSubject, boardWriteDate, boardReadCnt,
				(select count(*) from FreeBoardReply where boardNum=@bnum) as replyCount
		from (
			select @rownum:=@rownum+1 as rownum, BoardNum, BoardCategory, WriterName, BoardSubject, BoardWriteDate, BoardReadCnt
			from (select @rownum:=0) as rownum, FreeBoard
		    where writerNum=#{LoginUser.userNum}
		    order by BoardNum desc
		    ) Freeboard
		<![CDATA[
		where rownum > (#{Cri.pageNum}-1)*#{Cri.amount} and rownum <= #{Cri.pageNum}*#{Cri.amount};	
		]]>
	</select>
	
	<!-- 작성댓글 보기 -->
	<select id="FreeBoardReply" resultType="com.KJO.model.FreeBoardReplyVO">
		select @bnum:=boardNum as boardNum,
		(select boardSubject from FreeBoard where FreeBoard.boardNum = freeboardreply.boardNum) as boardSubject, replyerNum, replyText, replyWriteDate
		from (
			select @rownum:=@rownum+1 as rownum, boardNum, replyerNum, replyerName, replyText, replyWriteDate
			from (select @rownum:=0) as rownum, FreeBoardReply
			where replyerNum=#{LoginUser.userNum}
			order by replyNum desc
			) FreeboardReply
		<![CDATA[
		where rownum > (#{Cri.pageNum}-1)*#{Cri.amount} and rownum <= #{Cri.pageNum}*#{Cri.amount};
		]]>
	</select>
	
	<!-- 주문목록 -->
	<select id="myOrderList" resultType="com.KJO.model.orderBoardVO">
		select *
		from orderBoard
		where userNum = #{userNum};
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="UserDelete">
		delete from UserInfo where userNum=#{userNum};
	</delete>
	
	<!-- 회원정보 변경 -->
	<update id="UserUpdate">
		update UserInfo
		set userPW=#{input.userPw}, userName=#{input.userName}, userEmail=#{input.userEmail}, pwSearchQuestion=#{input.pwSearchQuestion}, pwSearchAnswer=#{input.pwSearchAnswer}
		where userNum=#{LoginUser.userNum};
	</update>
	
	<!-- 회원 이미지 변경 -->
	<update id="imgUpdate">
		update UserInfo
		set profileImg=#{profileImg}
		where userNum=#{userNum};
	</update>
	
	<!-- 비밀번호 확인 -->
	<select id="pwChk" resultType="int">
		select count(*)
		from UserInfo
		where userNum=#{userNum} and userPw=#{userPw};
	</select>
	
	<!-- 본인이 작성한 상품평 가져오기 -->
	<!-- <select id="myProductReply" resultType="java.util.LinkedHashMap">
		select userName, replyText, rating, regDate, typeNum, productListNum, productName
		from
		(
		select @rownum:=@rownum+1 as rownum, PR.*, PB.typeNum, PB.productName
		from (select @rownum:=0) as rownum, productReply as PR
		JOIN productBoard as PB
		ON PR.productListNum = PB.productListNum
		where userNum = #{LoginUser.userNum}
		order by regDate desc
		) as A
		<![CDATA[
		where A.rownum > (#{Cri.pageNum}-1)*#{Cri.amount} and A.rownum <= #{Cri.pageNum}*#{Cri.amount};
		]]>
	</select> -->
</mapper>