<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.KJO.mapper.ProductMapper">
	<!-- 타입이름 문자열 반환 -->
	<!-- <select id="returnTypeName" resultType="java.util.LinkedHashMap">
		select * from productType where typeNum=#{typeNum};
	</select> -->
	<select id="returnTypeName" resultType="string">
		select typeName from productType where typeNum=#{typeNum};
	</select>
	
	<!-- 상품별 리스트 목록(페이징) -->
	<select id="productList" resultType="java.util.LinkedHashMap">
		select A.productListNum, A.typeNum, A.productPrice, A.amount ,A.productImgPath_0, Spec.*
		from
		( 
			select @rownum:=@rownum+1 as rownum, PL.*
			from (select @rownum:=0) as rownum, productBoard as PL
			order by productListNum #desc
		) as A
		JOIN productSpec_${typeName} as Spec
		ON A.productName = Spec.productName
		<![CDATA[
		where A.rownum > (#{Cri.pageNum}-1)*#{Cri.amount} and A.rownum <= #{Cri.pageNum}*#{Cri.amount};	
		]]>
	</select>

	<!-- 상품별 갯수 -->
	<select id="ProductCount" resultType="int">
		select count(*) from productBoard where typeNum = #{typeNum};
	</select>

	<!-- 상품전체목록 타입 가져오기 -->
	<select id="ProductTypeList" resultType="com.KJO.model.ProductBoardVO">
		select *
		from productType;
	</select>
	
	<!-- 상품 게시판 작성 -->
	<insert id="productBoardInsert">
		Insert into productBoard(productName, productPrice, typeNum, regDate, amount, productImgPath_0, productImgPath_1, productImgPath_2, productImgPath_3)
		values(
		 #{productName}, #{productPrice}, #{typeNum}, sysdate(), #{amount}, #{productImgPath_0}, #{productImgPath_1}, #{productImgPath_2}, #{productImgPath_3}
		);
	</insert>
	
	<!-- 상품 게시판 상세 스펙 작성 -->
	<insert id="productSpecInsert">
		<choose>
			<when test="typeNum.equals('COM100')">
				INSERT INTO productSpec_CPU(productName, manufacturer, cpuType, generation, coreType, threadType, baseClock, boostClock, l2Cache, l3Cache, tdp, memoryType, memoryBus, memoryChannel, innerGPU, releaseDate)
				<![CDATA[
				VALUES (#{productName}, #{manufacturer}, #{cpuType}, #{generation}, #{coreType}, #{threadType}, #{baseClock}, #{boostClock}, #{l2Cache}, #{l3Cache}, #{tdp}, #{memoryType}, #{memoryBus}, #{memoryChannel}, #{innerGPU}, #{releaseDate});
				]]>
			</when>
			<when test="typeNum.equals('COM101')">
				INSERT INTO productSpec_VGA(productName, manufacturer, chipsetManufacturer, vgaSeries, baseClock, boostClock, processAmount, pciInterface, memoryType, memorySize, memoryBus, hdmiPort, dpPort, supportMonitorAmount, maxTDP, recommendTDP, powerPort, powerPhase, supportMultiVga, support4K, support5K)
				<![CDATA[
				VALUES (#{productName}, #{manufacturer}, #{chipsetManufacturer}, #{vgaSeries}, #{baseClock}, #{boostClock}, #{processAmount}, #{pciInterface}, #{memoryType}, #{memorySize}, #{memoryBus}, #{hdmiPort}, #{dpPort}, #{supportMonitorAmount}, #{maxTDP}, #{recommendTDP}, #{powerPort}, #{powerPhase}, #{supportMultiVga}, #{support4K}, #{support5K});
				]]>
			</when>
		</choose>
	</insert>
	
	<!-- 상품게시판 Detail -->
	<select id="productDetail" resultType="java.util.LinkedHashMap">
		select A.productListNum, A.typeNum, A.productPrice, A.amount , A.productImgPath_0, A.productImgPath_1, A.productImgPath_2, A.productImgPath_3, Spec.*
		from productBoard as A
		JOIN productSpec_${typeName} as Spec
		ON A.productName = Spec.productName
		where Spec.productName = #{productName};
	</select>
</mapper>